@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprenda acerca de <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- #region  
<div class="container mt-5">
    <h2 class="text-center">Ruta de aprendizaje de Desarrollo Web</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Etapa</th>
                <th>Contenido</th>
                <th>Recursos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Introducción a HTML y CSS</td>
                <td>Aprenda a crear y diseñar páginas web básicas.</td>
                <td>
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML MDN</a>,
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">CSS MDN</a>
                </td>
            </tr>
            <tr>
                <td>2. JavaScript básico</td>
                <td>Entienda cómo agregar interactividad a sus páginas web.</td>
                <td>
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">JavaScript MDN</a>
                </td>
            </tr>
            <tr>
                <td>3. Frameworks Front-End</td>
                <td>Explore frameworks como React, Angular o Vue.js.</td>
                <td>
                    <a href="https://reactjs.org/">React</a>,
                    <a href="https://angular.io/">Angular</a>,
                    <a href="https://vuejs.org/">Vue.js</a>
                </td>
            </tr>
            <tr>
                <td>4. Introducción al Back-End</td>
                <td>Conozca ASP.NET Core y las bases del desarrollo del servidor.</td>
                <td>
                    <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core Docs</a>
                </td>
            </tr>
            <tr>
                <td>5. Bases de Datos</td>
                <td>Aprenda a conectar aplicaciones con bases de datos como SQL Server o MySQL.</td>
                <td>
                    <a href="https://learn.microsoft.com/sql/">SQL Server Docs</a>,
                    <a href="https://dev.mysql.com/doc/">MySQL Docs</a>
                </td>
            </tr>
            <tr>
                <td>6. Despliegue</td>
                <td>Implemente aplicaciones web en servicios como Azure o AWS.</td>
                <td>
                    <a href="https://azure.microsoft.com/">Azure</a>,
                    <a href="https://aws.amazon.com/">AWS</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

-->